# Credentials
OPENAI_API_KEY = "..."                      # OpenAI API key
ROBINHOOD_USERNAME = "..."                  # Robinhood username
ROBINHOOD_PASSWORD = "..."                  # Robinhood password

# Basic config parameters
MODE = "demo"                               # Trading mode (demo, auto, manual)
RUN_ON_WORKDAYS_ONLY = True                 # Run bot only on workdays
RUN_INTERVAL_SECONDS = 600                  # Trading interval in seconds

# Robinhood config parameters
WATCHLIST_NAMES = []                        # Watchlist names (can be empty, or "My First List", "My Second List", etc.)
WATCHLIST_OVERVIEW_LIMIT = 10               # Number of stocks to process in decision-making (e.g. 20)
MIN_API_CALL_PAUSE_SECONDS = 0.5            # Minimum pause between Robinhood API calls in seconds (to avoid rate limits)
MAX_API_CALL_PAUSE_SECONDS = 1.5            # Maximum pause between Robinhood API calls in seconds (to avoid rate limits)

# OpenAI config params
MAX_POST_DECISIONS_ADJUSTMENTS = 1          # Maximum number of adjustments to make (0 - disable adjustments)
OPENAI_MODEL_NAME = "gpt-4o-mini"           # OpenAI model name

# Trading parameters
MIN_SELLING_AMOUNT_USD = 1.0                # Minimum sell amount in USD
MAX_SELLING_AMOUNT_USD = 10.0               # Maximum sell amount in USD
MIN_BUYING_AMOUNT_USD = 1.0                 # Minimum buy amount in USD
MAX_BUYING_AMOUNT_USD = 10.0                # Maximum buy amount in USD
